.footer {
   position: relative;
   margin: 0;
   width: 100%;
   background-color: rgb(63, 53, 46);
   color: white;
   text-align: center;
   padding: 20px;
}

.fa{
    padding: 15px;
    font-size: 20px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-facebook{
    background: #3B5998;
    color: white;
}

.fa-twitter{
    background: #55ACEE;
    color: white;
}

.fa-instagram{
    background: #125688;
    color: white;
}